## Visual Studio IDE 캐시
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

## 빌드 출력물 (C++ OpenGL)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
[Bb]ld/

## 중간/임시 파일
*.log
*.tlog
*.tmp
*.temp
*.bak

## IntelliSense / 데이터베이스
*.ipch
*.pch
*.pdb
*.idb
*.ilk

## 기타 자동 생성 파일
*.exe
*.dll
*.lib
*.exp
*.sdf
*.opensdf
*.opendb

## OS 관련 파일
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

## 커밋 깔끔하게 하기위해 추가함
OpenGLProject.vcxproj
OpenGLProject.vcxproj.filters
